body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 26);
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgb(192, 175, 130);
    height: 650px;
    width: 450px;
    border-radius: 25px;
    padding: 25px;
}

.display {
    width: 100%;
    min-height: 100px;
    background-color: rgb(226, 213, 178);
}

.display p {
    margin: 0 15px;
    padding: 0;
    line-height: 100px;
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.buttons {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.mainButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 75%;
}

.mathButtons {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 16px;
    width: 25%;
}

.clearButtons {
    display: flex;
    justify-content: end;
    align-items: baseline;
    gap: 58px;
}

.buttons button, .clearButtons button {
    width: 90px;
    height: 90px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: rgb(226, 213, 178);
    font-size: 26px;
}